<div class='banner-img' style="position:relative;">
  <img src="http://payload202.cargocollective.com/1/13/430252/6345864/Poteau-1_600.gif" style="height:70vh; width:100%">
  <h3>Sleep and Live well</h3>
</div>
<br></br>
<h2>Time to relax and enjoy a peaceful nap</h2>
<p>See all that San Francisco has to offer for your time of rest</p>
<br></br>
<% @listings.in_groups_of(3, false).each do |listing| %>
<div class='container'>
  <div class='row'>
    <% listing.each do |listing| %>
    <%= link_to listing_path(listing) do %>
    <div class='col-md-4' id='portfolio'>
      <%= image_tag(listing.image, class: "img-responsive", style:"height:30vh; width:50vh;") %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
<% end %>
