<div class="banner-img" style="position:relative;">
  <img src="http://payload202.cargocollective.com/1/13/430252/6345864/Poteau-1_600.gif" style="height:70vh; width:100%">
  <h3>Sleep well Live well</h3>
</div>
<br></br>
<h2>Time to relax and enjoy a peaceful nap</h2>
<p>See all that San Francisco has to offer for your time of rest</p>
<br></br>
<div id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-6"><a href="#" data-lightbox="portfolio"><img class="img-responsive" src="http://www.mrwallpaper.com/wallpapers/san-francisco.jpg" style="height:40vh;"/></a></div>
      <div class="col-md-4 col-sm-4 col-xs-6"><a href="#" data-lightbox="portfolio"><img class="img-responsive" src="http://www.mrwallpaper.com/wallpapers/san-francisco.jpg" style="height:40vh;"/></a></div>
      <div class="col-md-4 col-sm-4 col-xs-6"><a href="#" data-lightbox="portfolio"><img class="img-responsive" src="http://www.mrwallpaper.com/wallpapers/san-francisco.jpg" style="height:40vh;"/></a></div>
    </div><br></br>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-6"><a href="#" data-lightbox="portfolio"><img class="img-responsive" src="http://www.mrwallpaper.com/wallpapers/san-francisco.jpg" style="height:40vh;"/></a></div>
      <div class="col-md-4 col-sm-4 col-xs-6"><a href="#" data-lightbox="portfolio"><img class="img-responsive" src="http://www.mrwallpaper.com/wallpapers/san-francisco.jpg" style="height:40vh;"/></a></div>
      <div class="col-md-4 col-sm-4 col-xs-6"><a href="#" data-lightbox="portfolio"><img class="img-responsive" src="http://www.mrwallpaper.com/wallpapers/san-francisco.jpg" style="height:40vh;"/></a></div>
    </div>
  </div>
</div>
