<div class="panel-image"><br><br>
  <img class="img-responsive img-rounded" <img src="<%= @listing.image %>" data-toggle="modal" data-target="#myModal" style="width:auto; height:350px; margin: 0 auto; margin-top: -20px; cursor: pointer;" >
</div>
