<br><br>
<div class="col-md-4 col-sm-6 col-xs-12">
   <div class="text-center">
     <img src="<%= current_user.profile_photo %>" class="avatar img-circle img-thumbnail" alt="avatar" style="height:40vh">
     <h3><%= current_user.first_name %></h3>
   </div>
 </div>
 <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
   <h3>All my listings</h3>
   <br>
 </div>
