h2, p {
  text-align: center;
  font-family: 'Muli', sans-serif;;
}

.banner-img h3 {
  position: absolute;
  left: 35%;
  top: 40%;
  font-family: 'Muli', sans-serif;;
  font-size: 40px;
  color: #FFF;
  opacity: .7;
}



// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
